<div class="logo-container">
  <img src="/src/images/logo.jpg" alt="boringless logo" />
</div>
<div class="nav-area">
  <ul id="primaryNav">
    <li><a href="https://cse341boredapi.herokuapp.com/login/">Sign in</a></li>
    <li><a href="/src/index.html">Home</a></li>
    <li><a href="welcome/welcome.html">Welcome</a></li>
    <li><a href="/src/add_activities.html">Add activities</a></li>
  </ul>
</div>

<!-- //category details = template para la pagina con ideas/ clase y metodos
//category = llamar los methods // 
category details html -->
